<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="E:\Project\espidf_prj\NimBLE_GATT_Server\host\.nuget\packages" />
    <add key="httpCachePath" value="E:\Project\espidf_prj\NimBLE_GATT_Server\host\.nuget\http-cache" />
    <add key="pluginsCachePath" value="E:\Project\espidf_prj\NimBLE_GATT_Server\host\.nuget\plugins-cache" />
    <add key="temp" value="E:\Project\espidf_prj\NimBLE_GATT_Server\host\.nuget\temp" />
  </config>
</configuration>
